//footer.footer
//    .container
//        .text-muted Place sticky footer content here.
//        p Footer Text
#footer.navbar-fixed-bottom.row-fluid
    .navbar-inner
        .container
            p Footer Text
