<md-toolbar>
    Ипотечные банки
    <button md-icon-button (click)='getBanks()' mdTooltip="Обновить список банков">
      <md-icon>autorenew</md-icon>
    </button>
</md-toolbar>

<md-card>
    
        <md-toolbar>
        <h5 style="">Выберите регион: </h5>
        <!--<md-card-title>Выберите регион: </md-card-title>-->
        <md-select placeholder="" [(ngModel)]="selectedRegion" style="max-width: 200px; margin-right: 20px; margin-left: 20px; min-width: 200px;">
            <md-option value="ALL">Все</md-option>
            <md-option *ngFor="let region of regions" [value]="region.region_num">{{ region.region_center }}</md-option>
        </md-select>
        <button color="primary" md-raised-button (click)="getBanksByRegion()">
            <md-icon>search</md-icon>
            <span>Найти</span>
        </button>
        <p style="margin-left: 15px; margin-bottom: 0; font-size: 0.7em;">Количество ипотечных банков: {{banksCount}}</p>
        </md-toolbar>
        
        
    <md-card-content>
        <md-nav-list>
          <md-list-item *ngFor="let bank of banks">
             <a md-line href="bank.bank_num">{{ bank.shortName }}</a>
             <p md-line style="color: grey;">{{ bank.fullName }}</p>
             <!--<button md-icon-button (click)="showInfo(bank.bank_num)">-->
             <!--   <md-icon>info</md-icon>-->
             <!--</button>-->
                <button md-icon-button [mdMenuTriggerFor]="menu">
                  <md-icon>more_vert</md-icon>
                </button>
                <md-menu #menu="mdMenu">
                  <button md-menu-item (click)="deleteBank(bank); $event.stopPropagation()">
                    <md-icon>delete</md-icon>
                    <span>Удалить</span>
                  </button>
                </md-menu>
          </md-list-item>
        </md-nav-list>
    </md-card-content>
</md-card>