<md-tab-group>
  <md-tab label="Добавить ипотечную программу">
    <md-toolbar>Добавить ипотечную программу</md-toolbar>
    <app-ipoteka-form></app-ipoteka-form>
  </md-tab>
  <md-tab label="Изменить ипотечную программу">
    <md-toolbar>Изменить ипотечную программу</md-toolbar>
    <app-ipoteka-form></app-ipoteka-form>
  </md-tab>
  <md-tab label="Добавить банк">
    <md-toolbar>Добавить банк</md-toolbar>
    <app-bank-form></app-bank-form>
  </md-tab>
  <md-tab label="Изменить банк">
    <app-bank-list></app-bank-list>
  </md-tab>
  
</md-tab-group>