<form [formGroup]="bankForm" (ngSubmit)="onSubmit()" novalidate>
    <!--<div class="form-group">-->
  <md-card>
  <md-card-content>
    <md-list >
    <md-list-item>
      <span md-line>Короткое название</span>
      <md-input-container class="" style="max-width: 400px;" md-line >
        <input mdInput required #shortName maxlength="50" placeholder=""  formControlName="shortName" >
        <md-hint align="end">{{shortName.value.length}} / 50</md-hint>
      </md-input-container>
    </md-list-item>
    <md-list-item>
    </md-list-item>
    <md-list-item>
      <span md-line>Полное название</span>
      <md-input-container class="" style="max-width: 400px;" md-line >
        <textarea  mdInput required #fullName placeholder=""  formControlName="fullName" ></textarea>
      </md-input-container>
    </md-list-item>
    <md-list-item>
    </md-list-item>
    <md-list-item>
      
      <span md-line>Регион</span>
      <md-select placeholder="" [(ngModel)]="selectedRegion" formControlName="region_num" class="select-width" style="max-width: 200px;" md-line required>
         <md-option *ngFor="let region of regions" [value]="region.region_num">{{ region.region_center }}</md-option>
      </md-select>{{selectedRegion}}
    <!--</div>-->
    </md-list-item>
    
    </md-list >
  </md-card-content>
  <md-card-actions>
    <button color="primary" md-raised-button type="submit" [disabled]="bankForm.status == 'INVALID'">Создать</button>
    <button  md-raised-button type="reset"  [disabled]="bankForm.pristine">Сброс</button>
    <!--(click)="revert()"-->
  </md-card-actions>
  </md-card>
</form>
{{message}} <br>
<!--<p>bank.bank_num:</p> {{bank.bank_num}}-->
<!--<br>-->

<!--<p>Form value: {{ bankForm.value | json }}</p>-->
<!--<p>Form status: {{ bankForm.status | json }}</p>-->
<!--<p>shortName value: {{ bankForm.get('shortName').value }}</p>-->
<!--<p>shortName status: {{ bankForm.get('shortName').status }}</p>-->
<!--<p>shortName pristine: {{ bankForm.get('shortName').pristine }}</p>-->
<!--opposite: dirty-->
<!--<p>shortName untouched: {{ bankForm.get('shortName').untouched }}</p>-->
<!--opposite: touched-->

<!--<h4>shortName change log</h4>-->
<!--<div *ngFor="let shortName of shortNameChangeLog">{{shortName}}</div>-->

<!--<h2>Добавить банк</h2>-->
<!--<form [formGroup]="bankForm" novalidate>-->
<!--    <div class="form-group">-->
<!--        <label class="center-block">Короткое название:-->
<!--          <input class="form-control" formControlName="shortName">-->
<!--        </label>-->
<!--        <label class="center-block">Полное название:-->
<!--          <input class="form-control" formControlName="fullName">-->
<!--        </label>-->
<!--    </div>-->
<!--</form>-->


    
    
