<div [hidden]="f_state != 'on'">
 <form [formGroup]="ipotekaForm"  novalidate>
    <!--<div class="form-group">-->
    <!--<div formGroupName="main" class="well well-lg">-->
<div class="well well-lg"> 

    <md-card class="card-bottom">
    <span>Чтобы выбрать ипотечные программы, максимально удовлетворяющие Вашим запросам,
постарайтесь точно задать условия поиска.</span>
    <md-card-actions align="right">
        <button color="primary" md-raised-button type="button" (click)="onSubmit()"
            [disabled]="ipotekaForm.status == 'INVALID'">
            <md-icon>search</md-icon>
            НАЙТИ</button>
        <button md-raised-button type="reset" (click)="revert()"
            [disabled]="ipotekaForm.status == 'INVALID'">Сброс</button>
    </md-card-actions>
    
    
        <md-card-title>Общие данные</md-card-title>
        <md-card-content>
            
            <md-list >
            <md-list-item>
                <span class="cl1">Регион</span>
            
                    <div class="cl2">
                    <md-select placeholder="Регион"  formControlName="region_num" [(ngModel)]="selectedRegion" class="select-width">
                        <!--<aria-label>{{ regions[0].region_num  }}</aria-label>-->
                        <!--<md-select-label>"77"</md-select-label>-->
                        <md-option value="ALL">Любой</md-option>
                        <md-option *ngFor="let region of regions " [attr.selected]="selectedRegion==region.region_num ? true : null" [value]="region.region_num">{{ region.region_center }}</md-option>
                    </md-select>
                    
                    <!--<md-input-container placeholder="Регион">-->
                        <!--<aria-label>{{ regions[0].region_num  }}</aria-label>-->
                        <!--<md-select-label>"77"</md-select-label>-->
                    <!--    <input type="text" mdInput formControlName="region" [mdAutocomplete]="reg">-->
                        
                    <!--</md-input-container>-->
                    <!--<md-autocomplete #reg="mdAutocomplete">-->
                    <!--   <md-option *ngFor="let region of regions "  [value]="region.region_num">-->
                    <!--       {{ region.region_num }}-->
                    <!--   </md-option>-->
                    <!--</md-autocomplete>-->
                    
                    {{selectedRegion}}
                    </div>
            </md-list-item>
            <md-list-item>
                <span class="cl1">Банк</span>
                <div class="cl2">
                    <md-select placeholder="Банк" formControlName="bank_num" [(ngModel)]="selectedBank.key" class="select-width">
                        <md-option value="ALL">Любой</md-option>
                        <md-option *ngFor="let bank of banks" [value]="bank.bank_num">{{ bank.shortName }}</md-option>
                    </md-select>
                </div>
            </md-list-item>
            <md-list-item>
                <span class="cl1">Цель кредитования</span>
                <div class="cl2">
                    <md-select placeholder="Цель кредитования"  formControlName="aim" class="select-width" [(ngModel)]="selectedAim">
                        <md-option *ngFor="let aim of aims"  [value]="aim.key">{{ aim.value }}</md-option>
                    </md-select>
                </div>
            </md-list-item>
            <md-list-item>
                <span class="cl1">Рынок недвижимости</span>
                <div class="cl2">
                    <md-select placeholder="Рынок недвижимости"  formControlName="houseMarket" [(ngModel)]="selectedMarket">
                        <md-option *ngFor="let houseMarket of houseMarkets" [value]="houseMarket.key">{{ houseMarket.value }}</md-option>
                    </md-select>
                </div>
            </md-list-item>
            <md-list-item>
                <span class="cl1">Новостройка аккредитована</span>
                <div class="cl2">
                    <md-select placeholder=""  formControlName="buildingIsAccredited" class="max-width-50px" [(ngModel)]="selectedAccred">
                        <md-option *ngFor="let accredit of accredits" [value]="accredit">{{ accredit }}</md-option>
                    </md-select>
                </div>
            </md-list-item>
            </md-list>
            
    <!--</div>-->

        </md-card-content>
    </md-card>

    <!--<div formGroupName="creditTerms" class="well well-lg">-->
    <md-card class="card-bottom">
        <h4>Условия кредита</h4>
        <md-list >
            <md-list-item>
            
            <span class="cl1">Валюта кредита</span>
            
            <div class="cl2">
            
                <md-select placeholder="Валюта кредита"  formControlName="currency" [(ngModel)]="selectedCurrency">
                    <md-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</md-option>
                </md-select>
            
            </div>
            </md-list-item>
            <md-list-item>
            <span class="cl1">Ставка кредита</span>
            <div class="cl2">
                <md-input-container class="" >
                    <input min="0" max="100" mdInput  type="number" placeholder="до  (%)"  formControlName="creditRate" maxlength="3">
                    <!--<md-hint>HINT</md-hint>-->
                    <!--<div ng-messages="ipotekaForm.creditRate.$error" ng-show="ipotekaForm.creditRate.$dirty">-->
                    <!--  <div ng-message="required">This is required!</div>-->
                    <!--</div>-->
                    <!--<md-error>error</md-error>-->
                </md-input-container>
            </div>
            </md-list-item>
            <md-list-item>
            <span class="cl1">Обеспечение кредита</span>
            <div class="cl2">
                <md-select placeholder="Обеспечение кредита" formControlName="creditSecurity" class="select-width" [(ngModel)]="selectedSecurity">
                    <md-option *ngFor="let loansecurity of loansecurities" [value]="loansecurity.key">{{ loansecurity.value }}</md-option>
                </md-select>
            </div>
            </md-list-item>
            <md-list-item>
            <span class="cl1">Срок кредита</span>
            <div class="cl2">
                <md-input-container class="max-width-50px" >
                    <input mdInput type="number" min="0" max="100" placeholder="от"  formControlName="creditTermFrom" maxlength="3">
                </md-input-container>
                <md-input-container class="max-width-50px">
                    <input mdInput type="number" min="0" max="100" placeholder="до"  formControlName="creditTermTo" maxlength="3">
                </md-input-container>
                лет
            </div>
            </md-list-item>
            <md-list-item>
            <span class="cl1">Размер кредита</span>
            <div class="cl2">
                <md-input-container class="">
                    <input mdInput type="number" min="0" placeholder="денежная единица"  formControlName="creditAmount">
                </md-input-container>
            </div>
            </md-list-item>
            <md-list-item>
            <span class="cl1">Первоначальный взнос	</span>
            <div class="cl2">
                <md-input-container class="">
                    <input mdInput type="number" min="0" max="100" placeholder="до, %"  formControlName="downPayment" maxlength="3">
                </md-input-container>
                
            </div>
            </md-list-item>
            <md-list-item>
            <span class="cl1">Подтверждение дохода</span>
            <div class="cl2">
                <md-select placeholder="" formControlName="incomeCheck" class="select-width" [(ngModel)]="selectedConfirm">
                    <md-option *ngFor="let incconfirm of incconfirms" [value]="incconfirm.key">{{ incconfirm.value }}</md-option>
                </md-select>
            </div>
            </md-list-item>
            <md-list-item>
            
            <span class="cl1">Срок рассмотрения заявки</span>
            <div class="cl2">
            
                <md-input-container class="" class="md-secondary">
                    <input mdInput type="number" min="0" max="90" placeholder="до "  formControlName="periodOfExam"> 
                </md-input-container>
                дней
            </div>
            </md-list-item>
        </md-list>
    <!--</div>-->
    </md-card>

    <!--<div formGroupName="reqForBorrower" class="well well-lg">-->
    <md-card class="card-bottom">
        <h4>Требования к заемщику</h4>
        <md-list >
        <md-list-item>
                <span class="cl1">Возраст заемщика</span>
                <div class="cl2">
                    <md-input-container class="">
                        <input mdInput type="number" min="18" max="120" placeholder=""  formControlName="borrowerAge">
                    </md-input-container>
                     лет
                </div>
        </md-list-item>
        <md-list-item>
                <span class="cl1">Регистрация по месту получения кредита</span>
                <div class="cl2">
                    <md-select placeholder="" formControlName="registrationIsRequired" [(ngModel)]="selectedReq1">
                        <md-option *ngFor="let required of requireds" [value]="required.key">{{ required.value }}</md-option>
                    </md-select>
                </div>
        </md-list-item>
        <md-list-item>
                <span class="cl1">Гражданство РФ</span>
                <div class="cl2">
                    <md-select placeholder="" formControlName="rusResidenceRequired" [(ngModel)]="selectedReq2">
                        <md-option *ngFor="let required of requireds" [value]="required.key">{{ required.value }}</md-option>
                    </md-select>
                </div>
        </md-list-item>
        </md-list>
    </md-card>

    <!--</div>-->
    
    <!--<div formGroupName="repayTerm" class="well well-lg">-->
    <md-card class="card-bottom">
        <h4>Условия погашения кредита</h4>
        <md-list >
        <md-list-item>
            <span class="cl1">Платежи</span>
            <div class="cl2">
                <md-select placeholder="" formControlName="payment" class="select-width" [(ngModel)]="selectedPayment">
                    <md-option *ngFor="let paymenttype of paymenttypes" [value]="paymenttype.key">{{ paymenttype.value }}</md-option>
                </md-select>
                <button md-icon-button  (click)='goToPaymentInfoPage();' mdTooltip="Что это такое?" >
                    <!--(click)='goToPaymentInfoPage()';-->
                    <md-icon>info</md-icon>
                </button>
            </div>
        </md-list-item>
        <md-list-item>
            <span class="cl1">Досрочное погашение без санкций после</span>
            <div class="cl2">
                <md-input-container class="">
                    <input mdInput type="number" min="0" max="100" placeholder=""  formControlName="prePayment">
                </md-input-container>
                 месяцев
            </div>
        </md-list-item>
        </md-list >
        
        <md-card-actions align="right">
            <button color="primary" md-raised-button type="button" (click)="onSubmit()"
                [disabled]="ipotekaForm.status == 'INVALID'">
                <md-icon>search</md-icon>
                НАЙТИ</button>
            <button md-raised-button type="reset" (click)="revert()"
                [disabled]="ipotekaForm.status == 'INVALID'">Сброс</button>
        </md-card-actions>
    </md-card>
    <!--</div>-->

    <!--<md-card>-->
    <!--    <h4>Сортировка результатов поиска</h4>-->
    <!--    <md-list >-->
    <!--    <md-list-item>-->
    <!--        <span class="cl1">Сортировать по</span>-->
    <!--        <div class="cl2">-->
    <!--            <md-select placeholder="" formControlName="sortBy" class="select-width">-->
    <!--                <md-option *ngFor="let index of Indexes" [value]="index.key">{{ index.value }}</md-option>-->
    <!--            </md-select>-->
    <!--        </div>-->
    <!--    </md-list-item>-->
    <!--    </md-list >-->
        
    <!--</md-card>-->
</div>
    
    <!--</div>-->
</form>
<!--<pre>Form value: {{ ipotekaForm.value | json }}</pre>-->
<!--<pre>Form status: {{ ipotekaForm.status | json }}</pre>-->
<!--<p>Street value: {{ ipotekaForm.get('repayTerm.payment').value}}</p>-->
</div>
  
  

<div [hidden]="f_state != 'off'">  


<md-card >
<p>
    Найдено {{ipotekiCount}} ипотечных кредита
</p>
<button md-raised-button type="button" (click)="goBack()" ><md-icon>arrow_back</md-icon>Назад</button>
<table class="mdl-data-table mdl-js-data-table " style="font-size: 1.2em">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">
          Название кредита</th>
      <th class="mdl-data-table__cell--non-numeric">Ставка</th>
      <th>Срок</th>
      <th class="mdl-data-table__cell--non-numeric">Мин. взнос</th>
    </tr>
  </thead>
  <tbody>
     
    <tr *ngFor="let ipoteka of ipoteki" #elem [id]='ipoteka.ipoteka_num'>
      <td class="mdl-data-table__cell--non-numeric">
          <a md-line (click)="openDialog(elem.id)" style="cursor: pointer">
              <!--routerLink="/programs/{{ ipoteka.ipoteka_num }}"-->
              {{ipoteka.ipoteka_name}}
          </a><br>
          <span md-line style="font-size: 0.8em" >{{chooseBank(ipoteka.bank_num)}}</span>
          
      </td>
      <td >{{ipoteka.creditRateFrom}} - {{ipoteka.creditRateTo}}%</td>
      <td >{{ipoteka.creditTermFrom}} - {{ipoteka.creditTermTo}} лет</td>
      <td >{{ipoteka.downPayment}}%</td>
    </tr>
  </tbody>
</table>  
</md-card>
<!--<p>Result from dialog: {{ result }}</p>-->

</div>

<div [hidden]="f_state != 'load'">
    <md-progress-spinner  mode="indeterminate"></md-progress-spinner>
</div>