.sp1 {
    position: absolute;
    right: 10px;
}
.sp2 {
    position: absolute;
    left: 10px;
}
.cl1 {
    /*position: absolute;*/
    /*right: 10px;*/
    margin-right: 20px;
}
.cl2 {
    position: absolute;
    left: 40%;
}
.select-width{
    min-width: 250px;
}

.max-width-50px{
   max-width: 50px;
}

.check-section{
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.check-margin{
    margin: 0 10px;
}

.card-bottom {
    /*background-color: rgba(217, 255, 245, 0.85);*/
    /*border-color: rgba(217, 255, 245, 0.85);*/
    border-bottom-style: groove;
    border-bottom-color: rgba(217, 255, 245, 0.85);
}